.academic {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.academicHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.institution {
  font-size: 1.5rem;
  font-weight: 600;
}

.institutionName {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}
.course {
  font-size: 1.125rem;
  font-weight: 400;
  color: #1bd800;
}

.note {
  margin-bottom: 10px;
}
.subjectsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subject {
  display: flex;
  gap: 10px;
  font-size: 1.125rem;
}
