.license {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.licenseHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.licenseName {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}
.licensor {
  font-size: 1.125rem;
  font-weight: 400;
  color: #1bd800;
}

.licenseContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.licenseDescription {
  display: flex;
  gap: 10px;
  font-size: 1.125rem;
}
