.teamList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.team{
    display:flex;
    gap:10px;
    font-size: 1.125rem;
}

.teamImage{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.teamName{
  font-size: 1.125rem;
}
.teamAbout{
  font-size:1rem;
}

@media (max-width: 768px) {
  .teamList {
    flex-direction: column;
    gap: 0.5rem;
  }

  .team {
    font-size: 1rem;
  }

  .teamImage {
    width: 30px;
    height: 30px;
  }

  .teamName {
    font-size: 1rem;
  }

  .teamAbout {
    font-size: 0.875rem;
  }
}
