.container {
  display: flex;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  gap: 64px;
  padding: 80px;
  font-family: var(--font-geist-sans);
}

.MainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.BrandArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BrandArea img {
  height: 40px;
  margin-right: 10px;
}

.BrandArea h1 a {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}

.SearchArea {
  display: flex;
  align-items: center;
}

.SearchArea input {
  width: 440px;
  height: 30px;
  padding: 0 10px;
  border: none;
  border-bottom: #fff 1px solid;
  background-color: #1e1e1e;
}

.MenuItens {
  display: flex;
  align-items: center;
}

.MenuItens ul {
  display: flex;
  list-style: none;
  padding: 20px;
}

.MenuItens ul li {
  margin-right: 40px;
}

.MenuItens ul li a {
  text-decoration: none;
  color: #fff;
}

.UserArea {
  position: relative;
  display: flex;
  align-items: center;
}

.UserArea img {
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.UserArea .username {
  margin-left: 10px;
  color: #fff;
}

.UserArea .dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.UserArea:hover .dropdown {
  display: block;
}

.UserArea .dropdown a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
}

.UserArea .dropdown a:hover {
  background-color: #333;
}
