.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.skillName {
  flex: 1;
  margin-right: 10px;
}

.skillProficiency {
  flex: 2;
}

.skillProficiency progress {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.skillProficiency progress::-webkit-progress-bar {
  background-color: #f3f3f3;
}

.skillProficiency progress.low {
  background-color: red;
}

.skillProficiency progress.medium {
  background-color: yellow;
}

.skillProficiency progress.high {
  background-color: green;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.skillName {
  flex: 1;
  margin-right: 10px;
  position: relative;
}

.socialLink {
  color: inherit;
  font-size: 24px;
}

.social {
  display: flex;
  gap: 10px;
}

.verifiedLabel {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #1bd800;
  color: white;
  padding: 5px 5px;
  border-radius: 50%;
  font-size: 0.75rem;
  z-index: -1;
}

.skillProficiency {
  flex: 2;
  margin-right: 10px;
}

.skillProjects {
  flex: 1;
  text-align: right;
}

.skillProficiency progress {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.skillProficiency progress.low {
  background-color: red;
}

.skillProficiency progress.medium {
  background-color: yellow;
}

.skillProficiency progress.high {
  background-color: green;
}
